/* presentation ---------------------*/
.presentation {

    width: 100%;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 3vw;

}

.presentation div {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;

}

.presentation span {
    width: 50%;
}

.presentation p {
    text-align: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.presentation img {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}