/* Title ------------------------------------------*/

.title {
    max-width: 400px;
}

/* presentation ---------------------*/
.presentation {

    width: 100%;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.presentation div {
    flex-grow: 1;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;

}

.presentation span {
    width: 50%;
}

.presentation p {
    text-align: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.presentation img {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}