.hidden {
  display: none;
}

.storage {
  margin-top: 20px;
  position: fixed;
  display: flex;
  right: 50px;
  gap: 30px;

  img {
    width: 35px;
    cursor: pointer;
  }

  .popup {
    position: fixed;
    background-color: #112240;

    top: 90px;
    right: 30px;
    padding: 20px;

    input,
    select {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #87f3da;

      &:focus {
        outline: none;
      }

      caret-color: #ccd6dc;
    }

    button {
      padding: 5px 15px;
    }
  }

  input {
    color: inherit;
    font-size: inherit;
  }

  .load {
    .popup {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      label {
        width: 100%;
        margin-bottom: 10px;
      }

      .input {
        width: 100%;
        display: flex;
        gap: 10px;
      }

      select {
        margin-right: 15px;
        flex-grow: 1;
        box-sizing: border-box;
        background-color: transparent;
        padding: 0 1em 0 0;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        line-height: inherit;
        color: inherit;

        &::before,
        &::after {
          cursor: pointer;
          box-sizing: border-box;
          background-color: #112240;
          border: none;
          outline: none;
        }

        option {
          background-color: #112240;
        }
      }
    }
  }
}
