
html, body{
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
}

.navigation{
    position: fixed;
    height: 6vh;
    /* background-color: hsl(216, 65%, 11%); */
}

.tournament_section{
    margin: 0;
    height: 100vh;
    background-clip: content-box;
    
}


#settings{
    height: 66vh;
    padding: 10% 15%;
    font-size: 2.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#settings .column{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 8%;  
}

.last_column{
    gap: 2% !important;
}

.last_column p{
    margin: 0;
}

.last_column textarea{
    height: 53%;
}

.first_column{
    align-items: flex-end;
}

#settings input{
    height: 2.3rem;
}

#group{
}

#tree{
}

#settings{
    background-clip: padding-box;
    background-color: red;
}
#group{
    background-clip: padding-box;
    background-color: green;
}
#tree{
    background-clip: padding-box;
    background-color: blue;
}