.tree {
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: center;

  .level {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // gap: 40px;
    flex: 1 1;

    .match {
      display: flex;
      flex-direction: row;

      // gap: 10px;
      flex: 1 1;
      // background-color: coral;
      // background-color: blue;
      align-items: center;

      .bracket {
        flex: 1 1;
      }
      .players {
        flex: 2 2;
      }

      .players {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
      }
    }
  }

  .player {
    margin: 0;
    min-width: 20ch;
    border: 1px solid #87f3da;
    text-align: center;

    height: 3ch;
    line-height: 3ch;

    user-select: none;
    cursor: pointer;

    &.winner {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

// BRACKET STYLES
$ballSize: 25px;
$barWidth: 10px;
$barColor: #c6d6dc;
$progressBarColor: coral;
$progressBallColor: coral;
$animationDuration: 0.4s;
$animationDelay: calc($animationDuration - 0.05s);

.bracket {
  display: flex;
  margin: 0;

  .bar {
    margin: 0;
    background-color: $barColor;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $progressBarColor;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;

      width: $ballSize;
      height: $ballSize;
      background-color: $progressBallColor;
      z-index: 100;

      border-radius: 50%;
      transform: scale(0);
    }

    &.horizontal {
      height: $barWidth;

      &::before {
        width: 0%;
        height: $barWidth;
      }

      &::after {
        top: calc(0px - ($ballSize / 3));
        left: calc(0px - ($ballSize / 3));
      }
    }

    &.vertical {
      width: $barWidth;

      &::before {
        width: $barWidth;
        height: 0%;
      }

      &::after {
        top: calc(0px - ($ballSize / 3));
        left: calc(0px - ($ballSize / 3));
      }
    }
  }

  .left,
  .right {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .right {
    .bar {
      flex-grow: 1;
    }

    .vertical {
      height: 50%;

      &.down {
        transform: rotate(180deg);
      }
      &::before,
      &::after {
        animation-delay: $animationDelay;
      }
    }

    .horizontal {
      &::before,
      &::after {
        animation-delay: calc($animationDelay * 2);
      }
    }
  }
}

.anim {
  &.horizontal {
    &::before {
      animation: progress-bar $animationDuration linear forwards;
    }
    &::after {
      animation: progress-ball $animationDuration linear forwards;
    }
  }

  &.vertical {
    &::before {
      animation: progress-bar-v $animationDuration linear forwards;
    }
    &::after {
      animation: progress-ball-v $animationDuration linear forwards;
    }
  }
}

@keyframes progress-bar {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes progress-bar-v {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

@keyframes progress-ball {
  0% {
    transform: scale(0);
    left: calc(0px - $ballSize / 3);
  }

  5% {
    transform: scale(1);
    left: calc(0px - $ballSize / 3);
  }

  99% {
    transform: scale(1);
    left: calc(100% - $barWidth);
  }

  100% {
    transform: scale(0);
    left: calc(100% - $barWidth);
  }
}

@keyframes progress-ball-v {
  0% {
    transform: scale(0);
    top: calc(0px - $ballSize / 3);
  }

  5% {
    transform: scale(1);
    top: calc(0px - $ballSize / 3);
  }

  99% {
    transform: scale(1);
    top: calc(100% - $barWidth);
  }

  100% {
    transform: scale(0);
    top: calc(100% - $barWidth);
  }
}
