html,
body {
  margin: 0;
  height: 100%;
}

body {
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
}

.bracket {
  height: 500px;
  width: 500px;
  display: flex;
}
.bracket .bar {
  background-color: gray;
  position: relative;
}
.bracket .bar::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-color: coral;
}
.bracket .bar::after {
  position: absolute;
  z-index: 10;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  transform: scale(0);
  background-color: coral;
  border-radius: 50%;
}
.bracket .bar.horizontal {
  width: 100%;
  height: 10px;
}
.bracket .bar.horizontal::before {
  -webkit-animation: progress-bar 1s linear forwards;
          animation: progress-bar 1s linear forwards;
  width: 0;
}
.bracket .bar.horizontal::after {
  top: -8.3333333333px;
  left: -12.5px;
  -webkit-animation: progress-ball 1s linear forwards;
          animation: progress-ball 1s linear forwards;
}
.bracket .bar.vertical {
  width: 10px;
}
.bracket .bar.vertical::before {
  -webkit-animation: progress-bar-v 1s linear forwards;
          animation: progress-bar-v 1s linear forwards;
  height: 0;
}
.bracket .bar.vertical::after {
  top: -12.5px;
  left: -8.3333333333px;
  -webkit-animation: progress-ball-v 1s linear forwards;
          animation: progress-ball-v 1s linear forwards;
}
.bracket .left,
.bracket .right {
  height: 100%;
  width: 100%;
}
.bracket .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bracket .right {
  display: flex;
  flex-direction: column;
}
.bracket .right .up,
.bracket .right .down {
  height: calc(50% - 5px);
}
.bracket .right .up::before,
.bracket .right .down::before {
  -webkit-animation: progress-bar-v 1s 0.99s linear forwards;
          animation: progress-bar-v 1s 0.99s linear forwards;
}
.bracket .right .up::after,
.bracket .right .down::after {
  -webkit-animation: progress-ball-v 1s 0.99s linear forwards;
          animation: progress-ball-v 1s 0.99s linear forwards;
}
.bracket .right .middle::before {
  -webkit-animation: progress-bar 1s 1.98s linear forwards;
          animation: progress-bar 1s 1.98s linear forwards;
}
.bracket .right .middle::after {
  -webkit-animation: progress-ball 1s 1.98s linear forwards;
          animation: progress-ball 1s 1.98s linear forwards;
}
.bracket .right .down {
  transform: rotate(180deg);
}

.bracket {
  height: 500px;
  width: 500px;
  display: flex;
}
.bracket .bar {
  background-color: gray;
  position: relative;
}
.bracket .bar::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-color: coral;
}
.bracket .bar::after {
  position: absolute;
  z-index: 10;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  transform: scale(0);
  background-color: coral;
  border-radius: 50%;
}
.bracket .bar.horizontal {
  width: 100%;
  height: 10px;
}
.bracket .bar.horizontal::before {
  -webkit-animation: progress-bar 1s linear forwards;
          animation: progress-bar 1s linear forwards;
  width: 0;
}
.bracket .bar.horizontal::after {
  top: -8.3333333333px;
  left: -12.5px;
  -webkit-animation: progress-ball 1s linear forwards;
          animation: progress-ball 1s linear forwards;
}
.bracket .bar.vertical {
  width: 10px;
}
.bracket .bar.vertical::before {
  -webkit-animation: progress-bar-v 1s linear forwards;
          animation: progress-bar-v 1s linear forwards;
  height: 0;
}
.bracket .bar.vertical::after {
  top: -12.5px;
  left: -8.3333333333px;
  -webkit-animation: progress-ball-v 1s linear forwards;
          animation: progress-ball-v 1s linear forwards;
}
.bracket .left,
.bracket .right {
  height: 100%;
  width: 100%;
}
.bracket .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bracket .right {
  display: flex;
  flex-direction: column;
}
.bracket .right .up,
.bracket .right .down {
  height: calc(50% - 5px);
}
.bracket .right .up::before,
.bracket .right .down::before {
  -webkit-animation: progress-bar-v 1s 0.99s linear forwards;
          animation: progress-bar-v 1s 0.99s linear forwards;
}
.bracket .right .up::after,
.bracket .right .down::after {
  -webkit-animation: progress-ball-v 1s 0.99s linear forwards;
          animation: progress-ball-v 1s 0.99s linear forwards;
}
.bracket .right .middle::before {
  -webkit-animation: progress-bar 1s 1.98s linear forwards;
          animation: progress-bar 1s 1.98s linear forwards;
}
.bracket .right .middle::after {
  -webkit-animation: progress-ball 1s 1.98s linear forwards;
          animation: progress-ball 1s 1.98s linear forwards;
}
.bracket .right .down {
  transform: rotate(180deg);
}

@-webkit-keyframes progress-bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progress-bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes progress-bar-v {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes progress-bar-v {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-webkit-keyframes progress-ball {
  0% {
    transform: scale(1);
    left: -8.3333333333px;
  }
  5% {
    transform: scale(1);
    left: -8.3333333333px;
  }
  99% {
    transform: scale(1);
    left: calc(100% - 10px);
  }
  100% {
    transform: scale(0);
    left: calc(100% - 10px);
  }
}
@keyframes progress-ball {
  0% {
    transform: scale(1);
    left: -8.3333333333px;
  }
  5% {
    transform: scale(1);
    left: -8.3333333333px;
  }
  99% {
    transform: scale(1);
    left: calc(100% - 10px);
  }
  100% {
    transform: scale(0);
    left: calc(100% - 10px);
  }
}
@-webkit-keyframes progress-ball-v {
  0% {
    transform: scale(1);
    top: -8.3333333333px;
  }
  5% {
    transform: scale(1);
    top: -8.3333333333px;
  }
  99% {
    transform: scale(1);
    top: calc(100% - 10px);
  }
  100% {
    transform: scale(0);
    top: calc(100% - 10px);
  }
}
@keyframes progress-ball-v {
  0% {
    transform: scale(1);
    top: -8.3333333333px;
  }
  5% {
    transform: scale(1);
    top: -8.3333333333px;
  }
  99% {
    transform: scale(1);
    top: calc(100% - 10px);
  }
  100% {
    transform: scale(0);
    top: calc(100% - 10px);
  }
}/*# sourceMappingURL=progress.css.map */