html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragndrop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
  border: 1px solid black;

  .square {
    width: 100px;
    height: 100px;

    &#s1 {
      background-color: coral;
    }

    &#s2 {
      background-color: royalblue;
    }

    &#s3 {
      background-color: crimson;
    }

    &#s4 {
      background-color: green;
    }
  }
}
